// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,400i,600,700');

@import 'styles/all';

// External frameworks
@import '~@fortawesome/fontawesome-pro/scss/brands';
@import '~@fortawesome/fontawesome-pro/scss/solid';
@import '~@fortawesome/fontawesome-pro/scss/fontawesome';
@import '~@fortawesome/fontawesome-pro/scss/duotone';

// Components
@import './components/congrats/congrats.styles.scss';
@import './components/guessed-words/guessed-words.styles.scss';

main {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
