.guess-image {
  display: flex;
  justify-content: center;
  &--image {
    width: 200px;
    display: block;

    &.no-pokemon {
      width: 100px;
      padding: 50px 0;
    }
  }

  &.is-secret {
    img {
      filter: grayscale(100%) brightness(0);
      opacity: 0.8;
    }
  }
}
